@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@400;500;600;700&display=swap');
html,
body,
#__next {
    width: 100%;
    min-height: 100%;
}

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    outline: hidden;
}